<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- original css  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% block customcss %}
  {% endblock customcss %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- fontawsome -->
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
    integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
    crossorigin="anonymous"></script>
  <title>photo share</title>
  <!-- ファビコン設定 -->
  {% load static　%}
  <link rel="icon" type="image/x-icon" href="{% static 'image/icon.png' %}">
</head>

<body>
  {% block header %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% load static　%}
    <a class="navbar-brand" href="{% url 'image_app:index' %}">
      <img class="site_logo" src="{% static 'image/site_logo.png' %}" alt="sitelogo"></a>
    <!-- <a class="navbar-brand" href="{% url 'image_app:index' %}">camera_shots</a> -->

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_app:user_detail' request.user.id %}">{{request.user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_app:add' %}">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_app:logout' %}">logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_app:signup' %}">signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'image_app:login' %}">login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock header %}
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% include 'footer.html' %}
</body>

</html>